*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
  padding: 30px;
}
h1{
  background-color: rgb(83, 80, 80);
  width: fit-content;
  font-size: 100px;
  padding: 10px 70px;
  margin: 20px;
  color: black;
  border-radius: 10px;

}
button{
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(42, 78, 126);
  margin: 20px;
}