*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
.parent{
  padding: 20px;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  /* height: 200px; */
  width: 240px;
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(26, 25, 25);
}
.card img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}
.card p{
  margin: 20px 0;
}
.card button{
  padding: 10px 20px;
  border-radius: 150px;
  border: none;
  background-color: ;
}