*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #020202;
  color: #f3f1f1;
  line-height: 1.6;
}
input{
  margin: 10px;
  padding: 15px 15px;
  border-radius: 10px;
  border: none;
  background-color: rgb(18, 75, 180);
}